---
import Blob from '../components/Blob.astro'
import Container from '../components/Container.astro'
import { TechStackData } from '../utils/data'
---

<Container bgClass=' bg-slate-50' id='home'>
  <div
    class='flex flex-col items-center justify-center w-full md:flex-row md:justify-around md:items-center flex-wrap'>
    <div
      class='flex flex-col items-center text-center md:text-left md:items-start'>
      <h1 class='font-bold text-4xl md:text-6xl'>Front-End Developer</h1>
      <p class='md:w-3/4 text-gray-600 text-xl font-medium mt-4'>
        Hi I’m Marco Gonzalez, <span id='desc'
          >A passionate Web Developer
        </span>who wants to domain the world with programming based on Ecuador
        📍
      </p>

      <div class='flex items-center justify-start gap-x-4 mt-4'>
        <a class='h-6 w-6 hover:text-blue-700 transition-all'
          ><img src='/linkedin.svg' class='flex-shrink-0 flex-1' />
        </a>
        <a class='h-6 w-6 hover:text-blue-700 transition-all'
          ><img src='/github.svg' /></a
        >
      </div>
      <div class='flex items-center justify-start mt-4 gap-2 md:gap-x-3'>
        <h3 class='text-xl font-bold'>Tech Stack</h3>
        <div class='w-[2px] h-16 bg-black/50 rounded'></div>

        <div class='flex gap-2 flex-wrap'>
          {
            TechStackData.map((item) => (
              <div class='p-4 md:h-16 md:w-16 md:p-2 rounded-full bg-slate-200 flex items-center justify-center'>
                <img
                  class='w-8 md:h-10 md:w-10'
                  src={item.img}
                  alt={item.title}
                  title={item.title}
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <Blob />
</Container>

<script type='module'>
  import { annotate } from '../../node_modules/rough-notation'

  const descAnnotation = annotate(document.querySelector('#desc'), {
    type: 'highlight', 
    color: '#fd0'
  })

  descAnnotation.show()
</script>
