---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Home from './Home.astro'
import About from './About.astro'
import Projects from './Projects.astro'
import Contact from './Contact.astro'
---

<Layout>
  <main>
    <NavBar />
    <Home />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>

