---
import { ProjectsFilter } from '../components/react/ProjectsFilter'
---

<section
  class='flex min-h-screen flex-col px-10 pt-16 pb-8 w-full items-center justify-center gap-y-8 md:px-20 bg-slate-50'
  id='projects'>
  <div class='flex flex-col items-start w-full'>
    <h3 class='text-blue-600 font-bold text-xl md:text-left'>PROJECTS</h3>
    <span class='font-bold text-3xl text-slate-600 md:text-left'>
      I know good UX and UI means good business 💸
    </span>
  </div>
  <ProjectsFilter client:visible />
</section>
