---
const { bgClass, id } = Astro.props
---

<section
  id={id}
  class={`${bgClass} flex min-h-screen md:flex-row flex-col-reverse px-4 py-16  w-full items-center justify-center  md:py-8 md:px-20`}>
  <slot />
</section>
