---
const { bgClass, id } = Astro.props
---

<section
  id={id}
  class={`${bgClass} flex min-h-screen lg:flex-row flex-col-reverse px-8 py-16   items-center justify-center  lg:py-8 lg:px-20`}>
  <slot />
</section>
