<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='view-transition' content='same-origin' />
    <script>
      import '../utils/navigation.js'
    </script>
    <title>Marco Gonzalez | Frontend Developer</title>
  </head>
  <body>
    <div id='content'>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .fade-enter {
    opacity: 0;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-enter-active {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
  }
  .fade-enter-active {
    transition: opacity 1000ms;
  }
</style>
